@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: 10vh;
  color: white;
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: #293241;
  box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),
    -12px 0 8px -4px rgba(31, 73, 125, 0.8);
  opacity: 0.95;
}

.nav-logo {
  max-width: 50px;
  height: auto;
  transform: translate(0, -10%);
  margin-right: 20px;
}

.navbar h1 {
  color: white;
  font-size: 30px;
  margin-left: 5%;
  margin-top: 30px;
  font-family: "Lalezar", cursive;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: white;
}

.nav-links {
  float: right;
  align-items: center;
  list-style: none;
  color: white;
  font-size: 20px;
  margin-top: 30px;
}

.nav-links li {
  position: relative;
  right: 0;
  text-align: center;
  padding: 10px 30px;
}

.nav-links li:hover {
  color: #a1a1a1;
}
