.footerContainer {
  display: flex;
  height: 10vh;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
  z-index: 1;
  background-color: #293241;
  box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),
    -12px 0 8px -4px rgba(31, 73, 125, 0.8);
}

.footerContainer h3 {
  color: white;
  margin: 10px 30px;
}

.footerReact {
  display: flex;
  max-width: 50px;
}
