.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.content-wrap {
  flex: 1;
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(2px 2px 6px rgb(179, 179, 179));
}

.search-bar {
  margin-top: 40px;
  width: 50%;
  border: none;
  padding: 22px;
}

.searched {
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: dimgray;
  margin: 20px;
}

.search-button {
  margin-top: 40px;
  background: rgb(0, 209, 209);
  color: white;
  text-align: center;
  padding: 20px 30px;
  font-size: large;
  border: none;
}

.search-button:hover {
  background: rgb(0, 160, 160);
}
.search-button::after {
  background: rgb(236, 255, 255);
}
.recipes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.site-back-top-basic {
  color: rgba(64, 64, 64, 0.6);
}
